*{
    padding: 0;
    margin: 0;
}


i.fas.fa-shopping-cart{
    color: #fff;
    /* font-size: 24px;     */
    
}

.form-inline i{
    /* padding-left: 1px; */
    color: rgb(136, 136, 136);
}

.form-inline{
/* display: inline; */
background-color: red;
}

.form-search{    
    
    display: inline-block;
    background-color: rgba(58, 55, 241, 0.5)
}

.search-container{
    box-sizing: border-box;
}