*{
    padding: 0;
    margin: 0;    
}


.fa-shopping-cart, .fa-home, .fa-user, .fa-stream{
    color: #d1e8e2; 
    /* color: #d9b08c; */
    font-size: 16px;       
}
.fa-comment-dots{
    color: #fafafa; 
    font-size: 20px;       
}
.form-inline i{    
    color: rgb(136, 136, 136);    
}

.search-icon{
    margin-left: -30px;
}

input{
    border: none;
    border-radius: 50px;
}

.container-navbar{
    margin: auto 0;   
    box-sizing: border-box;
    background-color: #116466;
}

.container-caraousel{
    padding-right: 0px;
    padding-left: 0px;
}

span.text-caraousel{
    margin-top: -300px;
}


/* kateogry */

.container-category{
    min-height: 500px;
    background-color: #d1e8e2;
}
p.under-category, .under-rekomendasi{
    width: 15%;    
    height: 3px;
    background-color: #999 ;
    margin: auto;
    margin-top: -5px;    
}


.category-icon{
box-sizing: border-box;
 text-align: center; 
 padding-left: 20px; 
 
 
}
.category-icon i{    
    background-color: #fafafa;
    /* border:1px solid #d9b08c; */
    border: 1px solid #116466;
    /* color: #128286;*/
    color: #116466;
    text-align: center;
    padding-top: 20px; 
    margin-top: 25px;       
    font-size: 18px;
    width: 100%;    
    
}
.category-icon p{
    font-size: 14px ;    
}


.container-icon{
    box-sizing: border-box;    
    align-items: center;          
}


@media (min-width: 576px) { 
    .category-icon i{
        padding: 30px 70px; 
        font-size: 28px;
    }  
    p.under-category{
        width: 5%;  
        margin-bottom: 1.5em;          
    }
}
/* end kategori */

/* Bottom menu */



ul.navbar-nav{
    margin: auto;
    background-color: brown;
        
}
.bottom-icon-list i{
    text-align: center;    
}
.bottom-icon-list p{
    font-size: 12px;
    font-weight: 100;    
    margin-bottom: -30px;

}

.container-bottom-menu{
    background-color: #116466;
}

/* rekomendasi */

.rekomendasi-container{
    /* min-height: 700px; */
    padding-bottom: 100px;
    align-items: center;    
}

h5 strong{
    color: darkgreen;
}

h5 strong span{    
    font-size: medium;
}
 hr{     
     width: 20%;
     height: 3px;  
 } 


